<div class="py-5">
    
    <div class="d-flex justify-content-between align-items-center mb-3 mt-4">
        <h4 class="fw-bold mb-0">Our Categories :</h4>
        <a routerLink="/categories" class="d-flex seeAllBtn justify-content-center align-items-center text-main">
            <h6 class="m-0 fw-bold">see all</h6>
            <i class="fa-solid fa-chevron-right ms-1"></i>
        </a>
    </div>
    <owl-carousel-o [options]="customOptions">

        <ng-container *ngFor="let slide of categories">
            <ng-template carouselSlide>
                <div class="cursor-pointer">
                    <img [src]="slide.image" height="200px">
                    <h6 class="my-2 text-center fw-bold">{{slide.name}}</h6>
                </div>
            </ng-template>
        </ng-container>

    </owl-carousel-o>
</div>
